*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.strengthTimelineContainer{
    min-height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
    padding-top: 40px;
}
.timelinelinksforstrength{
    text-decoration: none;
}

.strengthTimeline{
    width: 35%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

@media (max-width:700px){
    .strengthTimeline{
        width: 70%;
    }
    .strengthTimelineContainer{
        min-height: 60vh;
    }
    .timeline-content{
        padding: 2px 5px;
    }
    .strengthTimeline{
        width: 85%;
    }
}

.strengthTimeline ul{
    list-style: none;
}

.strengthTimeline ul li{
    padding: 10px;
    background: linear-gradient(90deg, rgb(88, 176, 184) 0%, rgba(16,62,255,1) 100%);
    color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}

.strengthTimeline ul li:last-child{
    margin-bottom: 0;
}

.timeline-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2px 20px;
}

.timeline-content h1{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}

.timeline-year-logo{
    width: 50px;
}
.timeline-year-logo img{
    width: 100%;
    border-radius: 50%;
}
